{% extends 'base.html' %}

{% block content %}
  <h2>User List</h2>
  <table border="1">
      <tr>
          <th>ID</th>
          <th>EMAIL</th>
          <th>NAME</th>
          <th>PHONE NUMBER</th>
          <th>META</th>
      </tr>
      {% for user in object_list %}
      <tr>
        <td><a href="{{ user.get_absolute_url }}">{{ user.id }}</a></td>
          <td>{{ user.email }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.phone_number }}</td>
          <td>{{ user.meta }}</td>
      </tr>
      {% endfor %}
  </table>
{% endblock %}
